* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea; /* Fondo más suave */
    color: #000; /* Texto en negro */
}

header {
    background-color: #dfe6e9; /* Gris muy claro */
    color: #000; /* Texto negro */
    padding: 20px;
    text-align: center;
}

main {
    padding: 40px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #000; /* Negro */
}

.auto-card {
    background-color: #d1ebe9; /* Verde agua más claro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 30%;
    margin-right: 2%;
    text-align: center;
    transition: transform 0.3s ease;
    color: #000; /* Negro */
}

.auto-card:hover {
    transform: scale(1.05);
}

.auto-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.auto-card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #000; /* Negro */
}

button.view-details {
    background-color: #a3cbe3; /* Azul más claro */
    color: #000; /* Texto negro */
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.view-details:hover {
    background-color: #81b2cf; /* Azul un poco más oscuro */
}

.car-details {
    display: none;
    margin-top: 20px;
    text-align: left;
    font-size: 1.1em;
    color: #000; /* Texto negro */
}

footer {
    background-color: #dfe6e9; /* Coincide con header */
    color: #000;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
